* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}

body {
    background-color: var(--tertiary-color);
    color: var(--primary-color);
}

:root {
    --primary-color: #0E0E0E;
    --secondary-color: #a5a5a5;
    --tertiary-color: #f3f3f3;
    --golder-color: #ecc332;
}


/* CLASSES */

.title-text {
    font-size: 14px;
    font-weight: 600;
}

.description-text {
    font-size: 10px;
    font-weight: 400;
    margin-bottom: 20px;
    color: var(--secondary-color);
}

.heading-text {
    font-size: 10px;
}

.shadow-1 {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.063);
}

.main {
    padding: 45px 30px;
    overflow: hidden;
}

.fa-bars {
    font-size: 1.5rem;
}

.menu-icons {
    display: flex;
    flex-direction: column;
    gap: 60px;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    display: none;
    color: var(--secondary-color);
    cursor: pointer;
    text-decoration: none;
}

.menu-icons a,
.mobile-menu-icons a {
    color: var(--secondary-color);
}

.menu-icons>* {
    transition: all ease 0.3s;
}

.menu-icons>*:hover {
    color: var(--primary-color);
}

.user {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-greeting {
    margin-left: 12px;
}

.user-greeting h3 {
    margin-bottom: 0;
}

header {
    /* margin-top: 50px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile {
    width: 42px;
    height: 42px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}

.profile img {
    height: 100%;
}

.slider-1 {
    margin-top: 45px;
    width: 100%;
    height: auto;
    margin-inline: auto;
    overflow: hidden;
    border-radius: 11px;
}

.slider-1 img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

input {
    border: 0;
    background-color: transparent;
}

input:focus {
    outline: 0;
}

.search-bar input::placeholder {
    color: var(--secondary-color);
}


/* hamburger MENU ANIMATION*/

.line-1 {
    transform-origin: 0%;
}

.lines {
    height: 3px;
    width: 30px;
    background-color: black;
    border-radius: 3px;
    transition: all .3s ease;
}

.icon {
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 0;
    margin: 50px;
}

.line-3 {
    transform-origin: 0%;
}

.hamburger.active .line-1 {
    transform: rotate(45deg);
}

.hamburger.active .line-2 {
    opacity: 0;
}

.hamburger.active .line-3 {
    transform: rotate(-45deg);
}


/* hamburger MENU */

.hamburger {
    z-index: 10;
    cursor: pointer;
}

.mobile-menu-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    background-color: whitesmoke;
    color: #4a4a4a;
    /* padding: 30px; */
    top: 0;
    right: 0;
    height: 100vh;
    transform: translateX(100%);
    transition: all ease 0.2s;
}

.mobile-menu-icons>* {
    cursor: pointer;
    margin: 30px;
    margin-inline: 60px;
    font-size: 1.5rem;
    backdrop-filter: blur(20px);
}

.mobile-menu-icons.active {
    box-shadow: -20px 0 40px rgba(0, 0, 0, 0.403);
    transform: translateX(0%);
}


/* CARDS */

.all-cards {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.card-container {
    height: auto;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 10px;
}

.card-image-container {
    overflow: hidden;
    width: 100%;
    height: auto;
}

.card-image-container img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.card-text-container {
    padding: 15px 32px;
}

.card-titles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
}

.card-titles h1+h1 {
    color: var(--golder-color);
}

.ratings-container {
    font-size: 12px;
    color: var(--golder-color);
    display: flex;
    justify-content: flex-end;
    margin-block: 15px;
}

.slider-2 {
    margin-top: 45px;
    width: 100%;
    height: auto;
    margin-inline: auto;
    overflow: hidden;
    border-radius: 10px;
}

.slider-2 img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.all-cards-2 {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.horizontal-card {
    background-color: white;
    padding: 10px 15px;
    border-radius: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-2-text-container {
    margin-left: 20px;
    padding-block: 20px;
}

.card-2-title {
    margin-block: 12px;
}

.horizontal-card img {
    width: 50%;
    border-radius: 15px;
}

.title-and-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cant-find {
    text-align: center;
    width: 100%;
    font-size: 16px;
    color: var(--secondary-color);
    margin-inline: auto;
    margin-block: 80px;
}

.categories-container {
    margin-block: 90px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.categories-left-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 80px;
    padding-right: 15px;
    height: 70vh;
    gap: 30px;
    /* background-color: white; */
    position: fixed;
    /* overflow: hidden; */
    overflow-y: scroll;
    /* padding-right: 30px; */
}

.category-tabs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.category-tabs img {
    width: 100%;
    border-radius: 10px;
}

.categories-right-column {
    margin-left: 100px;
    flex: 1;
}

.categories-card-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}

.category-cards {
    width: auto;
    padding: 10px;
}

.categories-card-container img {
    width: 100%;
}

.categories-card-text-container h1 {
    margin-block: 10px;
}

.categories-card-text-container {
    margin-left: 10px;
}


/* MEDIA QUERRIES */

@media screen and (min-width: 800px) {
    .hamburger {
        display: none;
    }
    .mobile-menu-icons {
        display: none;
    }
    .menu-icons {
        display: flex;
        flex-direction: row;
    }
    .main {
        padding: 40px 60px;
    }
    .profile {
        width: 64px;
        height: 64px;
    }
    .slider-1 {
        height: auto;
        margin-block: 45px;
    }
    .search-bar {
        height: 80px;
        margin-bottom: 60px;
        padding-left: 45px;
        padding-right: 20px;
    }
    input {
        height: 25px;
        font-size: 24px;
    }
    input::placeholder {
        font-size: 24px;
    }
    .all-cards {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    .map-container {
        height: auto;
        flex-direction: row;
    }
    .slider-2 {
        height: auto;
    }
    .all-cards-2 {
        grid-template-columns: 1fr 1fr;
    }
    .heading-text {
        font-size: 16px;
    }
    .categories-card-container {
        grid-template-columns: 1fr 1fr;
        margin-left: 10px;
    }
}

@media screen and (min-width: 1000px) {
    .title-text {
        font-size: 24px;
        font-weight: 600;
    }
    .description-text {
        font-size: 14px;
        font-weight: 400;
        color: var(--secondary-color);
    }
    /* .column {
        flex-direction: row;
        justify-content: space-between;
        gap: 30px;
    } */
}

@media screen and (max-width: 400px) {
    .all-cards {
        grid-template-columns: 1fr;
    }
    .card-2-text-container {
        padding-block: 0px;
    }
}

@media screen and (min-width: 1300px) {
    .all-cards {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .all-cards-2 {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .categories-card-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}